@import url(//fonts.googleapis.com/css?family=Open+Sans:400,700);

svg {
  font: 14px 'Open Sans';
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  fill: #000;
}

.axis .tick line {
  stroke: rgba(0, 0, 0, 1);
}

.area {
  stroke-width: 1;
}

.area.outer,
.legend .outer {
  fill: rgba(230, 230, 255, 0.8);
  stroke: rgba(216, 216, 255, 0.8);
}

.area.inner,
.legend .inner {
  fill: rgba(127, 127, 255, 0.8);
  stroke: rgba(96, 96, 255, 0.8);
}

.median-line,
.legend .median-line {
  fill: none;
  stroke: #000;
  stroke-width: 3;
}

.legend .legend-bg {
  fill: rgba(0, 0, 0, 0.5);
  stroke: rgba(0, 0, 0, 0.5);
}

.marker.c1 .marker-bg,
.marker.c1 path {
  fill: rgba(255, 127, 0, 0.8);
  stroke: rgba(255, 127, 0, 0.8);
  stroke-width: 3;
}

.marker.c2 .marker-bg,
.marker.c2 path {
  fill: rgba(0, 153, 51, 0.8);
  stroke: rgba(0, 153, 51, 0.8);
  stroke-width: 3;
}

.marker.c3 .marker-bg,
.marker.c3 path {
  fill: #F27935;
  stroke: #F27935;
  stroke-width: 3;
}

.marker.c4 .marker-bg,
.marker.c4 path {
  fill: rgba(0, 153, 51, 0.8);
  stroke: rgba(0, 153, 51, 0.8);
  stroke-width: 3;
}

.marker.c5 .marker-bg,
.marker.c5 path {
  fill: rgba(255, 127, 0, 0.8);
  stroke: rgba(255, 127, 0, 0.8);
  stroke-width: 3;
}

.marker.c6 .marker-bg,
.marker.c6 path {
  fill: rgba(0, 153, 51, 0.8);
  stroke: rgba(0, 153, 51, 0.8);
  stroke-width: 3;
}

.marker.c7 .marker-bg,
.marker.c7 path {
  fill: rgba(255, 127, 0, 0.8);
  stroke: rgba(255, 127, 0, 0.8);
  stroke-width: 3;
}

.marker.c8 .marker-bg,
.marker.c8 path {
  fill: rgba(0, 153, 51, 0.8);
  stroke: rgba(0, 153, 51, 0.8);
  stroke-width: 3;
}


.marker.c9 .marker-bg,
.marker.c9 path {
  fill: rgba(255, 127, 0, 0.8);
  stroke: rgba(255, 127, 0, 0.8);
  stroke-width: 3;
}

.marker.c10 .marker-bg,
.marker.c10 path {
  fill: rgba(0, 153, 51, 0.8);
  stroke: rgba(0, 153, 51, 0.8);
  stroke-width: 3;
}

.marker.c11 .marker-bg,
.marker.c11 path {
  fill: rgba(255, 127, 0, 0.8);
  stroke: rgba(255, 127, 0, 0.8);
  stroke-width: 3;
}

.marker.c12 .marker-bg,
.marker.c12 path {
  fill: rgba(0, 153, 51, 0.8);
  stroke: rgba(0, 153, 51, 0.8);
  stroke-width: 3;
}

.green, .selected {border-color: #1FBBA6 !important;}
i.selected {color : #1FBBA6 !important;}

.tec:hover, .tec.hvrd {background: #F4E04E; color : #232931 !important; border-color: #F4E04E;}
.Technology-i, .technology-i {color : #F4E04E;}
.spo:hover, .spo.hvrd {background: #00AFD1; border-color : #00AFD1;}
.sports-i {color : #00AFD1;}
.pag:hover, .pag.hvrd, .ent:hover , .ent.hvrd {background: #EF1824; border-color: #EF1824;}
.entertainment-i {color : #EF1824;}
.hum:hover, .hum.hvrd {background: #016FC5; border-color: #016FC5;}
.humaninterest-i {color : #016FC5;}
.lif:hover, .lif.hvrd {background: #C30358; border-color : #C30358;}
.lifestyle-i {color : #C30358;}
.bus:hover, .bus.hvrd {background : #DAA520; border-color: #DAA520;}
.business-i {color : #DAA520;}
.sci:hover, .sci.hvrd {background: #49a88f; border-color: #49a88f;}
.science-i {color : #49a88f;}
.education-i {color :#793541;}
.edu:hover, .edu.hvrd {background: #793541; border-color : #793541;}
.environment-i {color : #7ca90a;}
.env:hover, .env.hvrd {background: #7ca90a; border-color : #7ca90a;}
.for:hover, .for.hvrd {background: #8B4513; border-color : #8B4513;}
.foreignaffairs-i {color: #8B4513;}
.multiple-i, .all-i {color : #1FBBA6;}
.grey {border-color : #65727C;}


.marker path {
  fill: none;
}

.legend text,
.marker text {
  fill: #fff;
  font-weight: bold;
}

.marker text {
  text-anchor: middle;
}

.thomln-form{
    /*border: 1px solid #cccccc;*/
    padding-top: 30px;
    padding-left: 50px;
}
.thomln-form p{
    line-height: 0;
}
.tmln-input{
    margin-bottom: 20px !important;
    width: 60%;
    height: 5% !important;
    display: block;
    border-radius: 0 !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow:none !important;
    box-shadow: none !important; 
}
.btn{
background-color: white !important;
border: 1px solid #FF7171 !important;
color: #FF7171 !important;
}
.form-img{
    width: 60%;
    border: 1px solid #9E8C8C;
    height: 200px !important;
    cursor: pointer;
}
.form-img:hover i{
    opacity: 0.5;
}
.form-img i{
position: absolute;
margin-top: 74px;
margin-left: 120px;
font-size: 3em;
background-position: 130px;
}
.form-img i:hover{
    opacity: 0.7;
}
.form-img .select-img{
opacity: 1;
position: absolute;
width: 70px;
margin-top: 100;
margin-top: 80px;
margin-left: 105px;
opacity: 0;
z-index: 1;

}
.img-prvw{
    display: none;
    position: relative;
}
.img-prvw img{
    width: 100%;
    height: 198px ;
}
.chng-img{
font-family: 'Gentium Basic', serif;
font-size: 1.2em !important; 
line-height: 1.6285em;
position: absolute;
cursor: pointer;
bottom: 4px;
/*right: 4px;*/
font-size: 1em;
color: #FBFBFB;
padding: 0px 6px;
z-index: 10;
}
.chng-img:hover{
    color: white;
}
.icon-calendar{
    font-size: 2em;
    background-position: 40px !important;
    cursor: pointer;
    margin-top: -15px !important;
    color: #FF5252;
}
.ui-datepicker-trigger{
    margin-top: -20px;
    margin-left: 5px;
    max-width: 22px;
    cursor: pointer;
}
.ui-datepicker-trigger:hover{
    opacity: 0.8 !important;
}